# Security: Ignore environment variables
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
health_poc/__pycache__/
health_poc/venv/
health_poc/venv_new/

# Docker
.docker/

# OS specific
.DS_Store
Thumbs.db

# IDE specific
.vscode/
.idea/

#SNOMED
snomed/


